$field-width: 500px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.Tic-Tac-Toe {
  max-width: $field-width;
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.Field {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  border-left: 1px solid black;
  border-top: 1px solid black;
  cursor: pointer;
}

.Field-item {
  height: 150px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.Field-x {
    background-color: lightcoral;
}

.Field-o {
    background-color: lightgreen;
}

.Dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.Dialog-Inner {
    padding: 30px;
    background:white;
    border: 2px dotted black;
}
